apiVersion: v1
kind: Config
clusters:
- name: default
  cluster:
    server: https://172.22.21.107:443
    insecure-skip-tls-verify: true
contexts:
 - name: teachers-context
   context:
     cluster: default
     namespace: teachers
     user: teachers-user
current-context: teachers-context
users:
- name: teachers-user
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IkpST3l6UlNKU2dmZ3dnSXp5VDhsRURhUEpfVG1aRUlzWHBYcU9hWjJVM2cifQ.eyJhdWQiOlsiaHR0cHM6Ly9rdWJlcm5ldGVzLmRlZmF1bHQuc3ZjLmNsdXN0ZXIubG9jYWwiLCJrM3MiXSwiZXhwIjoxNzM5MjIzNTc3LCJpYXQiOjE3MzE0NDc1NzcsImlzcyI6Imh0dHBzOi8va3ViZXJuZXRlcy5kZWZhdWx0LnN2Yy5jbHVzdGVyLmxvY2FsIiwianRpIjoiYTJjYzc5YTAtODhlMi00Yzk1LWFiZjEtMGNjODFjODc1MmFlIiwia3ViZXJuZXRlcy5pbyI6eyJuYW1lc3BhY2UiOiJ0ZWFjaGVycyIsInNlcnZpY2VhY2NvdW50Ijp7Im5hbWUiOiJ0ZWFjaGVycy11c2VyIiwidWlkIjoiMmI4MGFjODMtNzQ2Yi00M2MwLTk5NGYtMmM0ODVkMTc0NjIyIn19LCJuYmYiOjE3MzE0NDc1NzcsInN1YiI6InN5c3RlbTpzZXJ2aWNlYWNjb3VudDp0ZWFjaGVyczp0ZWFjaGVycy11c2VyIn0.RqOc1C4PGtdpYF02OCmAA7TrNzorO8IH0JR0Jv826i2PKRu-LKPZIN6rqsqehrCqUmDIpQb9Kd1sXrxGlLFHh2-OLFsc0EK7ID5w-oDXpnxWyUFIJ-E91Z4Yix9BD5QIhUB5plnwqCrU1TXgmLHO3RC5It5_cP86fw3RXEivNCgbg4yYuvJS4nK-diSuq8R0R5i6lBC5ZnmKRK0RuKxml2lkjL_INfMYljMN6vBafAQ5JRZXFE4Hg8uD1p0g55rN78_VZgqm89TnFGXHBDWAEo_WALMIRPXCMDiBtiVe-Jnni0sghkCpgu-11Rk-jVPRepfAiYQgPaM-SAzKqGdV8A